h1,p{
    margin: 0;
    text-align: center;
}
form{
    width: 30%;
    margin: 0 auto;
    padding: 2.5rem;
}
input{
    width: 100%;
    margin: 0.6rem 0;
    padding: .2rem 0;
}
#dropdown{
    width: 100%;
    margin: 0.6rem 0;
    padding: .2rem 0;
}
label{
    display: block;
    margin: 0.1rem 0;
    padding: .6rem 0;
    
}
input[type="radio"],input[type="checkbox"]{
    width: unset;
    vertical-align: middle;
    margin: 0.5%;
    
}
#recommend{
    
}